<!doctype html>
<html ng-app="myRest">
	<head>
	<title>Hello AngularJS</title>
	<script type="text/javascript" src="js/angular/angular.js"></script>
    <script src="js/controller/productController.js"></script>
    <script src="js/services/productService.js"></script>
    <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="js/syntaxhighlighter/shCore.js"></script>
    <script type="text/javascript" src="js/syntaxhighlighter/shBrushJScript.js"></script>
    <link type="text/css" rel="stylesheet" href="css/syntaxhighlighter/shCoreDefault.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    	
	</head>

	<body ng-controller="RestController" class="container-fluid">
		
		 <!-- ng hide and show -->
       <h2>Angular with rest</h2>
     <div class="panel panel-default">
        <div class="panel-heading">Demo</div>
        <div class="panel-body">  
        <form role="form" name="addProductForm" novalidate>
  			<div class="form-group">
   				<label for="name">Product Name:</label>
    			<input type="text" class="form-control" id="productName" ng-model="productName" name="productName" required>
    			 <div ng-show="addProductForm.$submitted || addProductForm.productName.$touched">
    			<span style="color:red" ng-show="addProductForm.productName.$dirty && addProductForm.productName.$invalid"></span>
    			<span style="color:red" ng-show="addProductForm.productName.$error.required">Product name is required!</span>
    			</div>
  			</div>
  			<div class="form-group">
   				<label for="price">Product Price:</label>
    			<input type="text" class="form-control" id="price" ng-model="productPrice" name="productPrice" required>
    			<div ng-show="addProductForm.$submitted || addProductForm.productPrice.$touched">
    			<span style="color:red" ng-show="addProductForm.productPrice.$error.required">Product price is required!</span>
    			</div>
  			</div>  
  			<div class="form-group">
   				<label for="category">Category:</label>
    			<input type="text" class="form-control" id="category" name="productCategory" ng-model="productCategory" required> 
    			<div ng-show="addProductForm.$submitted || addProductForm.productCategory.$touched">
    			<span style="color:red" ng-show="addProductForm.productCategory.$error.required">Product category is required!</span>   
    			</div>
  			</div>  
  			<button type="submit" class="btn btn-default" ng-click="addProduct()" ng-show="submitButton">Submit</button>
  			<button type="submit" class="btn btn-default" ng-click="updateProduct(id)" ng-show="editButton">Edit</button>
		</form>
		</div>
		<div class="panel-body"> 
		<div>{{error}}</div>
        <table class="table table-condensed" ng-model="getProduct">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>name</th>
                    <th>price</th>   
                    <th>category</th>
                    <th>Action</th>                          
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products">
                    <td>{{$index+1}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>                              
                    <td>{{product.category}}</td>
                    <td>
                    <button class="btn btn-default" ng-click="getProduct(product.id)">Update</button>
                    <button class="btn btn-default" ng-click="deleteProduct(product.id)">Delete</button>
                    </td>
                </tr>
                </tbody>
        </table>
       
       
    </div>
    </div>
			
		
	</body>
</html>